:root{

  /**  Отступы  */
  --gap-xl: 20px;
  --gap-l: 15px;

  --padding-block: 20px;
  --padding-inline: 20px;

  /**  Скругления углов  */
  --border-radius-default: 20px;

  /**  Основные цвета */
  --main-color: #e3e3e3;

  /**  Шрифты */

  /**  Цвета */
  --primary-color: #B88E2F;
  --card-color:#F4F5F7;
  --colorblock-color:#FFF3E3;
  --cardtext-color:#898989;
  --circlered-color:#E97171;
  --circleblue-color:#2EC1AC;
  --section-color:#FCF8F3;
  --ciclepurpl-color:#816DFA;
}