.NewArrial {
  background-image: url("../images/backgroundimg.webp");
  background-repeat: no-repeat;
  background-size: 100% 713px;
  width: 100%;
  height: 713px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .aside {
    background-color: #FFF3E3;
    width: 643px;
    height: 443px;
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 50px;
    gap: 30px;
    justify-content: center;

  }

  .title {
    font-size: 16px;

  }

  .subtitle {
    font-size: 52px;
    font-weight: bold;
    color: var(--primary-color);
  }

  .text {
    font-size: 18px;
    font-weight: bold;
  }

}

.sectoinBrowse {
  padding-top: 100px;

  .title {
    font-weight: bold;
    text-align: center;
    font-size: 32px;
  }

  .subtitleLorem {
    text-align: center;
    padding-top: 25px;
    font-size: 20px;
  }

  p {
    margin: 0;
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    padding-top: 100px;

    .dinigDesk, .livingDesk, .bedromDesk {
      text-align: center;
      padding-top: 30px;
      font-size: 24px;
      font-weight: bold;
    }
  }
}
.carts{
  justify-content: space-evenly;
  gap: 50px;
  display: flex;
  flex-wrap: wrap;
}