.NewArrial {
  background-image: url("../images/backgroundimg.webp");
  background-repeat: no-repeat;
  background-size: 100% 713px;
  width: 100%;
  height: 713px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .aside {
    background-color: var(--colorblock-color);
    width: 643px;
    height: 443px;
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 50px;
    gap: 30px;
    justify-content: center;

  }

  .title {
    font-size: 16px;

  }

  .subtitle {
    font-size: 52px;
    font-weight: bold;
    color: var(--primary-color);
  }

  .text {
    font-size: 18px;
    font-weight: bold;
  }

}

.sectoinBrowse {
  padding-top: 100px;

  .title {
    font-weight: bold;
    text-align: center;
    font-size: 32px;
  }

  .subtitleLorem {
    text-align: center;
    padding-top: 25px;
    font-size: 20px;
  }

  p {
    margin: 0;
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10%;
    padding-top: 100px;

    .dinigDesk, .livingDesk, .bedromDesk {
      text-align: center;
      padding-top: 30px;
      font-size: 24px;
      font-weight: bold;
    }
  }
}

.sectionOur {
  margin-top: 100px;

  .subject {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
  }

  .carts {
    justify-content: space-evenly;
    align-items: center;
    margin-right: 15%;
    margin-left: 15%;
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
  }

  .undercarts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
  }
}
.rooms-inspiration-section {
  background-color: var(--rooms);
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: space-between;

  .inspiration-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    width: 30%;

    .inspiration-title {
      font-size: 2.6rem;
      font-weight: bold;
      line-height: 1.1;
      margin-bottom: 2%;
    }

    .inspiration-subtitle {
      font-size: 1rem;
      width: 70%;
      margin-bottom: 3%;
    }

    .explore-button {
      // стили кнопки
    }
  }

  .featured-room {
    position: relative;

    .room-image {
      #main-room-image {
        width: 404px;
        height: 582px;
      }
    }

    .room-widget {
      display: flex;
      align-items: end;

      .room-description {
        width: 217px;
        height: 130px;
        display: grid;
        align-items: center;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5);
        margin-bottom: 5%;
        margin-left: 5%;

        .description-content {
          margin: 9%;

          .room-meta {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80%;

            .room-number {
              font-size: 1rem;
            }

            .divider {
              margin: 0;
              width: 27px;
            }

            .room-category {
              font-size: 1rem;
            }
          }

          .room-name {
            font-size: 1.8rem;
            font-weight: bold;
          }
        }
      }

      .room-nav-button {
        position: absolute;
        margin-bottom: 5%;
        margin-left: 58.6%;
      }
    }
  }

  .additional-rooms {
    .secondary-rooms-images {
      display: flex;
      justify-content: space-between;
      align-content: flex-start;
      overflow: hidden;
      width: 500px;

      #secondary-room-image-1 {
        width: 372px;
        height: 486px;
      }

      #secondary-room-image-2 {
        width: auto;
        height: 486px;
        margin-left: 5%;
      }
    }

    .rooms-carousel {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 30%;
      margin-top: 4%;

      #element_carousel_active {
        height: 27px;
        width: 27px;
      }

      #element_carousel_inactive {
        height: 11px;
        width: 11px;
      }
    }
  }
}
.furniro{

  p{
    margin: 0;
  }
  .titleshare{
    text-align: center;
    font-size: 20px;
    color: var(--cardtext-color);
  }
  .subtitlefurniro{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }
  .imgesfurniro{
    display: flex;
    align-items: center;
    justify-content: center;
    .firstblockimg{
      display: flex;
      flex-direction: column;
      width: 741px;
      gap: 16px;
      .firstpairimg{
        display: flex;
        gap: 16px;
        align-items: flex-end;
        overflow: hidden;
        .secondwoimg{
          overflow: hidden;
        }
      }
      .secondpairimg{
        display: flex;
        gap: 16px;
      }
    }
    .secondblockimg{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .secondblockimg{
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .thirdblockimg{
    display: flex;
    flex-direction: column;
    width: 741px;
    gap: 16px;
    .firstpairimg2{
      display: flex;
      gap: 16px;
      align-items: flex-end;
      overflow: hidden;
      .secondwoimg{
        overflow: hidden;
      }
    }
    .secondpairimg{
      display: flex;
      gap: 16px;
      overflow: hidden;
    }
  }
}
.buttonactive{
  display: flex;
  justify-content: center;
  align-items: center;
}
