.containerheader{
  p{
    margin:0;
  }
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 4%;
  .block{
    .text{
      font-size: 28px;
    }
    .buttonView{
      #view{
        font-size: 20px;
        background-color: white;
        color: var(--cardtext-color);
        padding: 16px;
        border: none;
        border-bottom: 2px solid var(--cardtext-color);
        transition: border 0.3s;
      }
      #view:hover{
        color: black;
      }
    }
  }
  .blockimg{
    .title{
      font-size: 24px;
      margin-top: 3%;
    }
    .price{
      font-size: 18px;
      margin-top: 3%;
    }
    .reviews{
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 3%;
      .numbers{
        font-size: 18px;
      }
      .stars{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .hr{
        color: var(--cardtext-color);
      }
      .review{
        font-size: 13px;
        color: var(--cardtext-color);
      }
    }
  }
  .blockimgsecond{
    .AsgaardSofasecond{
    }
    .titlesecond{
      font-size: 24px;
      margin-top: 3%;
    }
    .pricesecond{
      font-size: 18px;
      margin-top: 3%;
    }
    .reviewssecond{
      display: flex;
      margin-top: 3%;
      align-items: center;
      gap: 10px;
      .numbers{
        font-size: 18px;
      }
      .stars{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .hr{
        color: var(--cardtext-color);
      }
      .review{
        font-size: 13px;
        color: var(--cardtext-color);
      }
    }
  }
  .blocktext{

    font-size: 24px;
    font-weight: bold;
    .Choose{
      background-color: var(--primary-color);
      width: 242px;
      height: 39px;
      border-radius: 6px;
      border: none;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 3%;
      font-size: 14px;
    }
    .Choose:hover{
      transform: scale(1.05);
    }
  }
}
.full_table{
  margin-top: 4%;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 4%;
  .title_table{
    font-size: 2rem;
    font-weight: bold;
  }
  .border_center_table{
    border-right: var(--cardtext-color) solid 1px;
    border-left: var(--cardtext-color) solid 1px;
  }
  .padd_table_center{
    padding-bottom: 5%;
    border-right: var(--cardtext-color) solid 1px;
    border-left: var(--cardtext-color) solid 1px;
  }
  td{
    font-size: 1.2rem;
    width: 400px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
    padding-left: 3%;
  }
  .padd_table{
    padding-bottom: 5%;
  }
  table{
    border-collapse: collapse;
    border-top: var(--cardtext-color) solid 1px;
  }
}
