<button class="button"
        style="border-radius: @@border-radius;
               padding-left: @@padding-x;
               padding-right: @@padding-x;
               padding-top: @@padding-y;
               padding-bottom: @@padding-y;
                background-color: @@bgcolor;
                color: @@color;
                border-color: @@border-color;
                border: @@border solid;
                font-size: @@font-size;
                font-weight: @@font-weight;
                transition: transform 0.2s ease;
                cursor: pointer;
">
    <span>@@title</span>
</button>

<style>
    .button:hover {
        transform: scale(1.05);
    }
</style>