<header>
    <div class="logotip">
        <img src="./assets/images/logotipe.webp" alt="logoripe">
        <h1>Furniro</h1>
    </div>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
        <div class="hamburger">
            <a href="#">
                <img src="./assets/images/person.webp" alt="ikonPerson">
            </a>
            <a href="#">
                <img src="./assets/images/search.webp" alt="ikonSearch">
            </a>
            <a href="#">
                <img src="./assets/images/like.webp" alt="ikonLike">
            </a>
            <a href="#">
                <img src="./assets/images/cart.webp" alt="ikonCart">
            </a>
        </div>
</header>