// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';

// ==== 3. Layout ====
@use 'layout/container';

// ==== 4. Components ====
@use 'components/header';
@use 'components/button';
@use 'components/card';

// ==== 5. Pages ====
@use 'pages/firstpage.scss';

// ==== 6.Цвета ====

body {
  font-family: "Poppins","sans-serif";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

